html {
  scroll-behavior: smooth;
}

body.dark-mode {
  background-color: #252525;
  color: white;
}

.burger_item_darkmode {
  display: none;
}

.burger_item.darkmode {
  display: none;
}

.nav_items {
  cursor: pointer;
}

.sosial_icon{
  background-color: white;
  border-radius: 50%;
}
.link_style_my_info {
  text-decoration: none;
  color: #000;
}

.container_mobile_navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.link_nav {
  text-decoration: none;
  color: #252525;
  transition: all .3s ease;
}

.dark-mode .burger_item {
  display: none;
}

.dark-mode .burger_item_darkmode {
  display: block;
  width: 30px;
}

.dark-mode .burger_item_darkmode:hover {
  cursor: pointer;
}

.dark-mode .my_about_text {
  color: white;
}

.dark-mode .contact_answer {
  color: white;
}

.dark-mode .link_nav {
  color: white;
}

.dark-mode .my_skills_about {
  color: white;
}

.dark-mode .project_container {
  background-color: #383737;
}

.dark-mode .name-email-message {
  background-color: #252525;
  color: white;
}

.dark-mode .name-email-message::placeholder {
  color: white;
}

.divide_footer {
  display: none;
}

.dark-mode .divide_footer {
  display: block;
  border: 1px solid rgb(233, 233, 235);
  width: 100%;
  margin-top: 1rem;
}

.dark-mode .copyright_container {
  background-color: #252525;
  margin-top: 0rem;
}

.dark-mode .Modal_header_word {
  color: white;
}

.dark-mode .Modal_header_about {
  color: white;
  opacity: .6;
}

.dark-mode .copyright {
  color: white;
  padding: 0.5rem;

}

.close_button_diploma{
  color: white;
}

.dark-mode #header_hello{
  background-color: #252525;
}
.dark-mode .modal_content_diploma {
  background-color: #252525;
}
#header_hello {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.link_nav:hover {
  text-decoration: underline;
  color: #337ab7;
  transition: all .3s ease;
}

.contact_data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.sosial_icon {
  width: 20px;
}

.sosial_icon_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_hello {
  position: sticky;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.close_button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.burger {
  display: none;
}

.mobile-hello {
  display: none;
}

.dark-mode .navbar_container_mobile {
  background-image: url('../../assets/dark_img_navbar_mobile.jpg');
}

.navbar_container_mobile {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  position: absolute;
  width: 260px;
  text-align: center;
  background-image: url('../../assets/light_img_navbar_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.header_hello {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  margin-left: -1rem;
  margin-right: -.4rem;
}

#Hello {
  padding-top: 2rem;
}

.close_burger {
  display: none;
}

.open_burger {
  display: flex;
  justify-content: flex-end;
}

.close {
  display: none;
}

.open {
  display: flex;
  justify-content: flex-end;
  margin-top: -2rem;
  margin-right: -.5rem;
}

.burger_container {
  display: none;
}

@media only screen and (min-width: 360px) {
  .desktop-hello {
    display: none;
  }

  .darkmode {
    display: none;
  }

  .burger_container {
    display: flex;
  }

  .navbar_container_mobile {
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    position: absolute;
    width: 260px;
    text-align: center;
    z-index: 10;
  }

  .Download_CV {
    width: 130px;
  }

  .mobile-hello {
    display: block;
  }

  .photo {
    width: 330px;
  }

  .download_container {
    padding-top: 2rem;
    display: grid;
    place-items: center;
    gap: 2rem;
  }

  .first_section_container {
    display: grid;
  }

  .photo_container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  .my_about_text {
    width: 330px;
  }

  .navbar_container {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger_item {
    width: 30px;
  }

  .burger_item:hover {
    cursor: pointer;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
  }

  .dark-mode .modal_content {
    background-color: #252525;
  }

  .navbar_container_mobile.open {
    display: grid;
    min-height: 110vh;
    animation-name: opennavbar;
    animation-duration: .3s;
    opacity: 1;
    margin-right: -1rem;

  }

  @keyframes opennavbar {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .navbar_container_mobile.close {
    display: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }


  .navbar_items_mobile {
    display: grid;
    list-style: none;
    gap: 4rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 1rem;
    line-height: 1.5;
    margin-top: -4rem;
  }


  .close_navbar_mobile {
    display: flex;
    justify-content: right;
    margin-top: -4rem;
    margin-right: -1rem;
  }

  .close_icon {
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
  }

  .contact {
    width: 50px;
  }

  .contact_answer {
    width: 200px;
  }

  .sosial_icon_container {
    width: 200px;
  }
}

@media only screen and (min-width: 480px) {
  .desktop-hello {
    display: none;
  }

  .darkmode {
    display: none;
  }

  .burger_container {
    display: flex;
  }

  .mobile-hello {
    display: block;
  }

  .photo {
    width: 400px;
  }

  .first_section_container {
    display: grid;
  }

  .photo_container {
    display: flex;
    justify-content: center;
  }

  .my_about_text {
    width: 400px;
  }

  .navbar_container {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger_item {
    width: 30px;
  }

  .burger_item:hover {
    cursor: pointer;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
  }

  .navbar_container_mobile {
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    position: absolute;
    width: 260px;
    text-align: center;
    z-index: 10;
  }

  .navbar_container_mobile.open {
    display: grid;
    min-height: 110vh;
    animation-name: opennavbar;
    animation-duration: .5s;
    opacity: 1;
  }

  @keyframes opennavbar {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .navbar_container_mobile.close {
    display: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }


  .navbar_items_mobile {
    display: grid;
    list-style: none;
    gap: 4rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 1rem;
    line-height: 1.5;
    margin-top: -4rem;
  }


  .close_navbar_mobile {
    display: flex;
    justify-content: right;
    margin-top: -4rem;
    margin-right: -1rem;
  }

  .close_icon {
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 720px) {
  .desktop-hello {
    display: none;
  }

  .navbar_items {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
  }

  .darkmode {
    display: block;
  }

  .darkmode_mobile {
    display: none;
  }

  .burger_container {
    display: none;
  }

  .mobile-hello {
    display: block;
  }

  .photo {
    width: 400px;
  }

  .first_section_container {
    display: grid;
  }

  .photo_container {
    display: flex;
  }

  .my_about_text {
    width: 400px;
  }

  .navbar_container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .burger {
    display: none;
  }

  .burger_item {
    width: 30px;
  }

  .burger_item:hover {
    cursor: pointer;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    padding-top: 0rem;
  }

  .navbar_container_mobile {
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    position: absolute;
    width: 260px;
    text-align: center;
    z-index: 10;
  }

  .navbar_container_mobile.open {
    display: grid;
    min-height: 110vh;
    opacity: 1;
  }

  .navbar_container_mobile.close {
    display: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }


  .navbar_items_mobile {
    display: grid;
    list-style: none;
    gap: 4rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 1rem;
    line-height: 1.5;
    margin-top: -4rem;
  }



  .open {
    display: none;
    justify-content: flex-end;
    margin-top: -2rem;
    margin-right: -.5rem;
  }

  .close_navbar_mobile {
    display: flex;
    justify-content: right;
    margin-top: -4rem;
    margin-right: -1rem;
  }

  .close_icon {
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 900px) {
  .desktop-hello {
    display: block;
  }

  .mobile-hello {
    display: none;
    padding-top: 2rem;
  }

  .navbar_items {
    list-style: none;
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
  }

  .divide {
    border: 1px solid rgb(233, 233, 235);
    width: 100%;
    margin-top: 1rem;
  }

  .my_name {
    font-weight: 700;
    font-family: Lato, sans-serif;
    font-size: 18px;
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .darkmode_mobile {
    display: none;
  }

  .my_name_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about_contact {
    display: grid;
    align-items: center;
    font-size: 14px;
  }

  .my_about_text {
    font-size: 16px;
    line-height: 1.56;
    font-family: Roboto, sans-serif;
    color: #252525;
  }

  .section_my_about_container {
    display: flex;
    justify-content: center;
  }

  .contact {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    line-height: 1.7;

  }

  .contact_answer {
    font-size: 14px;
    font-family: Roboto, sans-serif;
  }

  .about_contact_container {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .burger_container {
    display: none;
  }

  .Download_CV {
    width: 170px;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 2px;
    background: #efefef;
    text-decoration: none;
    color: #252525;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.66;
    text-transform: uppercase;
  }

  .contact_me {
    width: 170px;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 2px;
    background: #33f;
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.66;
    text-transform: uppercase;
  }

  .download_container {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  .contact_me:hover {
    box-shadow: 10px 5px 5px rgba(51, 51, 255, .2);
    transition: all .3s ease;
    cursor: pointer;
  }


  .Download_CV:hover {
    box-shadow: 10px 5px 5px rgba(37, 37, 37, .2);
    transition: all .3s ease;
  }

  .first_section_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .photo_container {
    display: flex;
  }

  .photo {
    width: 450px;
  }

  .icon_my_skills {
    width: 50px;
    height: 50px;
  }

  .my_skills_container {
    display: grid;
    place-items: center;
  }

  .all_my_skills_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .skills {
    font-size: 30px;
    line-height: 1.4;
    font-family: Lato, sans-serif;
  }

  .my_skills_about {
    font-size: 16px;
    line-height: 1.56;
    font-family: Roboto, sans-serif;
    color: #252525;
    width: 300px;
  }

  .skills_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .point {
    color: #33f;
    border-radius: 50%;
  }

  .skills_icon {
    width: 100px;
  }

  .skills_header_container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .all_my_education_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .icon_my_education {
    width: 100px;
  }

  .education_history {
    opacity: .8;
  }

  .education_qualification {
    opacity: .8;
    font-style: italic;
  }

  .education_about {
    text-align: center;
  }

  .project_img {
    width: 300px;
  }

  .project_container {
    text-align: center;
  }

  .all_project_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
    padding-top: 2rem;
  }

  .visit_github {
    width: 100px;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 2px;
    background: rgb(0, 128, 49);
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.66;
    text-transform: uppercase;
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
  }


  .previous {
    background-color: #f1f1f1;
    padding: 1rem;
    width: 100px;
    color: black;
    border: none;
    box-shadow: 10px 5px 5px rgba(51, 51, 255, .2);
  }

  .next {
    background-color: #04AA6D;
    color: white;
    padding: 1rem;
    width: 100px;
    border: none;
    box-shadow: 10px 5px 5px rgba(51, 51, 255, .2);
  }

  .previous:hover {
    background-color: #04AA6D;
    color: white;
    transition: all .3s ease;
  }

  .next:hover {
    background-color: #f1f1f1;
    color: black;
    transition: all .3s ease;
  }

  .visit_github:hover {
    color: #252525;
    background-color: #fff;
    box-shadow: 10px 5px 5px rgba(1, 1, 158, 0.2);
    transition: all .3s ease;
  }

  .darkmode {
    display: block;
  }

}



.toggle {
  border: .125em solid currentColor;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  height: 2em;
  position: relative;
  width: 3.75em;
}

.toggle span {
  background-color: currentColor;
  border-radius: 2em;
  display: block;
  height: 1.5em;
  left: .25em;
  overflow: hidden;
  position: absolute;
  top: .25em;
  text-indent: -9999px;
  transition: left .25s;
  width: 1.5em;
  z-index: 2;
}

.toggle::before,
.toggle::after {
  content: '';
  display: block;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}

.toggle::after {
  box-shadow: .25em .25em #5901d8;
  height: 1.125em;
  right: .9em;
  top: .125em;
  width: 1.125em;
}

.toggle::before {
  background-color: #ffc409;
  height: .625em;
  outline: .25em dotted #ffc409;
  outline-offset: .125em;
  left: .7em;
  top: .7em;
  width: .625em;
}

input:checked~.toggle span {
  left: 2em;
}

.sr-only {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.darkmode {
  width: 50px;
}