.project_container {
    background-color: #bdbcbc3a;
    box-shadow: 10px 5px 5px rgba(51, 51, 255, .2);
    font-family: "Caveat", cursive;
    padding: 1rem;
}

#mobile_all_project_container {
    display: none;
}

#pagination_mobile {
    display: none;
}

@media only screen and (min-width: 480px) {
    .all_project_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 2rem;
        padding-top: 2rem;
    }

    #desktop_all_project_container {
        display: none;
    }

    #mobile_all_project_container {
        display: block;

    }

    #pagination_desktop {
        display: none;
    }

    #pagination_mobile {
        display: flex;

    }

    .portfolio_container {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    .Portfolio_header_container {
        display: flex;
        align-items: center;
    }

    .portfolio_icon {
        width: 50px;
    }

    .portfolio_word {
        font-size: 16px;
        line-height: 1.4;
        font-family: Lato, sans-serif;

    }
}


@media only screen and (min-width: 360px) {
    .all_project_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 2rem;
        padding-top: 2rem;
    }

    #desktop_all_project_container {
        display: none;
    }

    #mobile_all_project_container {
        display: block;

    }

    #pagination_desktop {
        display: none;
    }

    #pagination_mobile {
        display: flex;

    }

    .portfolio_container {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    .Portfolio_header_container {
        display: flex;
        align-items: center;
    }

    .portfolio_icon {
        width: 50px;
    }

    .portfolio_word {
        font-size: 16px;
        line-height: 1.4;
        font-family: Lato, sans-serif;

    }
}

#PORTFOLIO {
    padding-top: 1rem;
}

#mobile_all_project_container720 {
    display: none;
}

#pagination_mobile720 {
    display: none;
}

#mobile_all_project_container720 {
    display: none;
}

#pagination_mobile720 {
    display: none;
}

@media only screen and (min-width: 720px) {
    .all_project_container {
        display: none;

    }

    #mobile_all_project_container {
        display: none;

    }

    #pagination_desktop {
        display: none;
    }

    #pagination_mobile {
        display: none;

    }

    #pagination_mobile720 {
        display: flex;
    }

    #mobile_all_project_container720 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 2rem;
        padding-top: 2rem;
    }


    .portfolio_container {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    .Portfolio_header_container {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .portfolio_icon {
        width: 100px;
    }

    .portfolio_word {
        font-size: 30px;
        line-height: 1.4;
        font-family: Lato, sans-serif;

    }


}


@media only screen and (min-width: 1130px) {
    .all_project_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 2rem;
        padding-top: 2rem;
    }

    #desktop_all_project_container {
        display: none;
    }

    #mobile_all_project_container {
        display: none;

    }

    #mobile_all_project_container720 {
        display: none;
    }

    #pagination_desktop {
        display: flex;
    }

    #pagination_mobile {
        display: none;

    }

    #pagination_mobile720 {
        display: none;
    }

    #desktop_all_project_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 2rem;
        padding-top: 2rem;
    }
}