.slider {
    width: 100%;
    height: auto;
    padding-bottom: 40px ;
}

.slider-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project_img {
    border-radius: 10px;
}

.date_project_items {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.visit_github {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project_img {
    border-radius: 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #007bff;
}

.date_project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date_project_items {
    display: flex;
    align-items: center;
    gap: .3rem;
}

@media only screen and (min-width: 480px) {
    .portfolio_container {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    .Portfolio_header_container {
        display: flex;
        align-items: center;
    }

    .portfolio_icon {
        width: 50px;
    }

    .portfolio_word {
        font-size: 16px;
        line-height: 1.4;
        font-family: Lato, sans-serif;

    }
}


@media only screen and (min-width: 360px) {
    .portfolio_container {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    .Portfolio_header_container {
        display: flex;
        align-items: center;
    }

    .portfolio_icon {
        width: 50px;
    }

    .portfolio_word {
        font-size: 16px;
        line-height: 1.4;
        font-family: Lato, sans-serif;

    }
    .slider {
        padding-bottom: 60px ;
    }
    
}

.slider-items {
    display: grid;
    place-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#PORTFOLIO {
    padding-top: 1rem;
}

@media only screen and (min-width: 720px) {

    .portfolio_container {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    .Portfolio_header_container {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .portfolio_icon {
        width: 100px;
    }

    .portfolio_word {
        font-size: 30px;
        line-height: 1.4;
        font-family: Lato, sans-serif;

    }

    .slider-items:hover {
        transform: scale(1.1);
    }

}