@keyframes borderAnimation {
    0% {
        box-shadow: 0 0 0px rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 0 0 10px rgba(255, 215, 0, 1); 
    }
    100% {
        box-shadow: 0 0 0px rgba(255, 255, 255, 0);
    }
}

.image_animate {
    animation: borderAnimation 1s infinite; 
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes contentScaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes contentScaleOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.close_button_diploma {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    background-color: red;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 10px;
}

.modal_diploma {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: modalFadeIn 0.5s forwards;
}

.modal_content_diploma {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    transform: scale(0);
    animation: contentScaleIn 0.5s forwards;
}

.modal_diploma.closing {
    animation: modalFadeOut 0.5s forwards;
}

.modal_content_diploma.closing {
    animation: contentScaleOut 0.5s forwards;
}

.modal_image_diploma {
    max-width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

@media only screen and (min-width: 360px) {
    .my_diploma {
        width: 330px;
    }

    .modal_image_diploma {
        max-width: 100%;
        height: 250;
    }
}


@media only screen and (min-width: 480px) {
    .my_diploma {
        width: 400px;
    }

    .modal_image_diploma {
        max-width: 100%;
        height: 300px;
    }
}

@media only screen and (min-width: 720px) {
    .my_diploma {
        width: 500px;
    }

    .modal_image_diploma {
        max-width: 100%;
        height: 450px;
    }
}

@media only screen and (min-width: 900px) {
    .my_diploma {
        width: 400px;
    }
}

@media only screen and (min-width: 1000px) {
    .my_diploma {
        width: 500px;
    }
}

.all_my_education_container_style{
    transition: transform .4s ease-in-out;
  }
  
  .all_my_education_container_style:hover{
    transform: scale(1.05);
  }